<div class="modal fade" id="editPowerPlantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title azul-oscuro" id="exampleModalLabel">Editar planta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%=form_for @power_plant, url: customer_power_plant_path(@customer.id,@power_plant.id),method:'put', remote:true do |f|%>
        <div class="modal-body">

          <%if @power_plant.errors.any?%>
            <div class="form-error-container">
              <%@power_plant.errors.each do |attribute, message|%>
                <p><%=message%></p>
              <%end%>
            </div>
          <%end%>

          <div class="modal-new-form">
            <%= render 'customers/power_plant_form', f: f%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <%= f.submit "Guardar sede", class: "sign-up-button" %>
        </div>
      <%end%>
    </div>
  </div>
</div>
