<div class="modal fade" id="chooseHeadquarterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title azul-oscuro" id="exampleModalLabel">Selecciona una sede</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="headquartes-link-selector">
            <%@headquarters.each do |headquarter|%>
              <!-- <%=link_to headquarter.city+', '+ headquarter.direction, new_customer_headquarter_visit_request_path(headquarter.customer.id,headquarter.id), class: 'headquarter-link-to-visit-request'%> <br> -->
              <%=link_to headquarter.city+', '+ headquarter.direction, new_customer_headquarter_visit_request_path(headquarter.customer.id,headquarter.id), class: 'headquarter-link-to-visit-request', 'data-dismiss' => "modal", remote: true%> <br>

            <%end%>
          </div>
        </div>
    </div>
  </div>
</div>
