<div class="summary-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><span class="azul-oscuro">Fecha</span></th>
        <th scope="col"><span class="azul-oscuro">Cliente</span></th>
        <th scope="col"><span class="azul-oscuro">Estado dineros</span></th>
        <th scope="col"><span class="azul-oscuro">Estado insumos</span></th>
        <th scope="col"><span class="azul-oscuro">Detalles</span></th>
        <th scope="col"><span class="azul-oscuro">Editar</span></th>
        <th scope="col"><span class="azul-oscuro">Asignar visita</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td >12/09/18 08:00</td>
        <td>Bancolombia, sede Suba</td>
        <td>Pendiente</td>
        <td>Pendiente</td>
        <td><%=link_to "Ver", customer_headquarter_visit_request_path(1,1,1), remote: true%></td>
        <td>Editar</td>
        <td>Asignar visita</td>
      </tr>

      <tr>
        <td >19/04/18 08:00</td>
        <td>Bodytech, sede Suba</td>
        <td>Aprobado</td>
        <td>Pendiente</td>
        <td>Ver</td>
        <td>Editar</td>
        <td>Asignar visita</td>
      </tr>
    </tbody>
  </table>
</div>
