// Place all the styles related to the agreements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-label-input-field {
  display: flex;
  justify-content: center;
}

.label-center-container {
  text-align: right;
  width: 160px;
  color: #274480;
}


.input-center-container {
  text-align: left;
}
