// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer-profile-img {
  width: 250px;
}

.customer-profile-container {
  display: flex;
}

.customer-info-panel {
  width: 300px;
  padding-top: 25px;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #ededed;
  border-radius: 20px;
  height: 750px;
}

.customer-info {
  background-color: #ededed;
  padding: 10px;
  border-radius: 5px;
}

.customer-main-profile-contain {
  width: 100%;
  margin-top: 40px;
  margin-left: 20px;
}

.contact-information {
  margin-left: 10px;
}

.edit-customer-section {
  margin-left: 20px;
  margin-bottom: 30px;
}
.edit-group {
  text-align: right;
  width: 570px;
}

.logs_alert_container {
  margin-top: 30px;
}

.logs-container {
  max-height: 165px;
  overflow: scroll;
}

@media only screen and (max-width: 768px) {
  .customer-profile-container {
    justify-content: center;
    flex-direction:column;
  }

  .customer-info-panel {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }

  .customer-info-2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .customer-info {
    padding: 40px 10px;
  }

  .customer-info .section-title {
    padding-bottom: 8px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 500px) {
    .customer-info-2 {
      flex-direction: column;
      justify-content: center;
    }

    .edit-customer-section {
      margin-left: 0px;
    }

    .edit-group {
      text-align: left;
      width: auto;
    }

    .modal-new-form {
      text-align: left !important;
    }

    .modal-new-form input {
      width: 95%;
    }
  }

}
