// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer-sign-up-form {
  display: flex;
  justify-content: center;
}

.company-information-form, .company-contact-information {
  padding: 20px;
}

.employee-information {
  display: flex;
  width: 100%;
  height: auto;
}

.employee-info-wrapper {
  display: flex;
}

.employee-image-container {
  border: 1px solid green;
  width: 40%;
}

.employee-summary-container {
  border: 1px solid blue;
  width: 60%;
}
