// Place all the styles related to the Headquarters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headquarter-information {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.headquarter-info-wrapper {
  display: flex;
  align-items: center;
  background-color: #ededed;
  border: 4px solid #ededed;
  border-radius: 60px;
}

.headquarter-info-wrapper .section-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.headquarter-summary-container {
 margin: 20px;
}

.equipments-wrapper-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.equipment-container {
  background-color: #ededed;
  margin: 10px;
  max-width: 270px;
  width: 270px;
  padding: 15px 5px 20px;
  color: #545454;
  text-decoration: none;
}

.equipment-description {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.equipment-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 20px;
}

.equipment-icon {
  width: 100px;
  height: 100px;
}

.equipment-info {

}

.headquartes-link-selector {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a.headquarter-link-to-visit-request {
  background-color: #274480;
  color: white;
  padding: 5px 15px;
}

a.headquarter-link-to-visit-request:hover {
  background-color: #e37427;
  color: white;
  text-decoration: none;
}
