// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.visit-form-validator-wrapper {
  display: flex;
  padding-top: 30px;
}

 .next-week, .previous-week {
  font-size: 13px;
  float: right;
  margin: 0px 20px;
  cursor: pointer;
}

.week-0 {
  display: block;
}

.week-1, .week-2, .week-3, .week-4, .week-5, .week-6, .week-7 {
  display: none;
}
